@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for layout */
.settings-dropdown:hover .dropdown-menu {
  display: block;
}

.profile img {
  border: 2px solid #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}